fastapi
uvicorn
firebase-admin
pydantic
python-dotenv
python-jose[cryptography]
opencv-python
numpy==1.26.4
pillow
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
scikit-learn
python-multipart
tensorflow==2.15.0